*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    background-color: #0F0E0E;
}
/* ------- SHARED ------- */
.container{
    border: 2px solid #eeeeeebb;
    border-radius: 20px;
    height: 90%;
    width: 95%;
}
.containerContent{
    background-color: #468b9a41;
    border-radius: 25px;
    height: 90%;
    width: 95%;
}
.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- COMMITED MENU ------- */
.commitedMenu-Container{
    height: 100vh;
    width: 50%;
}
.commitedMenu-Container div{
    height: 95%;
}

/* ------- ORDERS AND ITEMS ------- */
.ordersAndItems{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
}

/* ADD/EDIT ITEM */
.addOrEditItem-Container{
    height: 50%;
    width: 100%;
}
#add-or-edit{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#img-container{
    flex-direction: column;
    border: 1px solid black;
    background-color: #0f0e0e7a;
    border-radius: 10px;
    width: 40%;
    height: 100%;
    margin: 2%;
}
#img-container p{
    color: gray;
}
#img-container form{
    align-content: center;
}
.name-price-commit{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3%;
    height: 30%;
}
#commit-btn{
    width: 35%;
    height: 80%;
    margin-top: 2.5%;
    border-radius: 50%;
    background-color: rgba(165, 42, 42, 0.378);
}
h3{
    font-family: Helvetica, sans-serif;
    width: 35%;
    margin: 2% 0 0.5% 0;
}
.namePrice{
    width: 25%;
    height: fit-content;
    margin-right: 2%;
    letter-spacing: 1px;
    padding-left: 10px;
}
#item-description{
    resize: none;
    padding: 10px;
    width: 50%;
    height: 40%;
}

/* REMOVE ITEM */


/* -------- ACTIVE ORDERS --------- */
.activeOrders-Container{
    height: 50%;
    width: 100%;
}

