*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    background-color: #0F0E0E;
}
#user-view{
    position: absolute;
    z-index: 99;
    width: 10vh;
    height: 10vh;
    background-color: white;
    border-radius: 50%;
    border: 1px black solid;
    top: 5%;
    left: 3%;
}
#user-view ion-icon{
    transform: scale(2);
}
/* ------- SHARED ------- */
.container{
    position: relative;
    border: 2px solid #eeeeeebb;
    border-radius: 20px;
    height: 90%;
    width: 95%;
}
.containerContent{
    background-color: #468b9a41;
    border-radius: 25px;
    height: 90%;
    width: 95%;
}
.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- COMMITED MENU ------- */
.commitedMenu-Container{
    position: relative;
    height: 100vh;
    width: 50%;
}
.commitedMenu-Container div{
    height: 95%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#menu{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
}
#commit-btn{
    position: absolute;
    z-index: 99;
    bottom: 10%;
    padding: 3% 5%;
    border-radius: 6px;
    background: #21be8a;
    color: #fff;
    font-size: 14pt;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
#commit-btn:active{ transform: translateY(1px); }
.item{
    height: 100%;
    max-height: 300px;
    width: 150px;
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(to bottom, #0a0f1c, #050a18);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: grab;
}
#sammies, #sides, #drinks{
    margin-bottom: 125px;
}
.item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.6);
}
.itemName{
    color: #e0e0ff;
    font-size: 11pt;
    font-weight: bold;
    padding-top: 7px;
}
.itemImg img{
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.itemPrice{
    color: #e0e0ff;
    font-size: 11pt;
    font-weight: bold;
    padding: 5px;
}
.itemInfo{
    color: #e0e0ff;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    max-width: 130px;
    overflow-wrap: break-word;
    white-space: normal;
}
.itemAdd{
    display: none;
    padding: 5px;
}
.itemAdd button{
    background-color: #21be8a;
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.itemAdd button:hover{
    background-color: #188a64;
    transform: scale(1.05);
}
.itemRemove{
    padding: 5px;
}
.itemRemove button{
    background-color: #be2121;
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.itemRemove button:hover{
    background-color: #9e1919;
    transform: scale(1.05);
}
.itemFooter{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    margin-top: auto;
    justify-content: space-between;
}
#desc{
    opacity: 0;
    font-weight: 300;
    color: #e0e0ff;
    transition: opacity 0.8s ease;
    padding-bottom: 10px;
}
.item:hover #desc{
    opacity: 1;
}
.favBtn{
    display: none;
}

/* ------- ORDERS AND ITEMS ------- */
.ordersAndItems{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
}

/* ADD/EDIT ITEM */
.addOrEditItem-Container{
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
}
#dropZoneTxt{
    display: none;
    position: absolute;
    top: 20%;
    color: #fff;
}
#add-or-edit{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#remove-img-btn{
    display: none;
    position: absolute;
    z-index: 99;
    left: 35%;
    top: 15%;
    padding: 3px 4px;
    background-color: #9e1919;
}
#img-container form{
    margin: 0;
    padding: 0;
}
#img-container{
    border: 1px solid black;
    background-color: #0f0e0e7a;
    border-radius: 10px;
    width: 40%;
    height: 36.5vh;
    margin: 2%;
}
#upload-img{
    text-align: center;
    margin-top: 3%;
    width: 100%;
}
#my-file{
    width: 14vh;
}
#name-price-commit{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5%;
    width: 56%;
    height: fit-content;
}
#name-price{
    width: 55%;
}
#commit-btns-container{
    width: 45%;
    padding: 4% 5% 3% 0;
}
.commitBtns{
    margin: auto;
    margin-bottom: 2%;
    width: 100%;
    height: 32%;
    border-radius: 15%;
    background-color: rgba(165, 42, 42, 0.378);
}
#save-btn{
    display: none;
}
.namePriceTitle{
    font-family: Helvetica, sans-serif;
    width: fit-content;
    height: 8%;
    margin-bottom: 1.5%;
}
.editInput{
    background-color: lightgray;
    width: 80%;
    height: 20%;
    margin-bottom: 2%;
    letter-spacing: 1px;
    padding-left: 10px;
}
#textContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 52%;
    height: 42%;
    margin: 1% 0;
}
#textContainer h4{
    padding-bottom: 5%;
}
#item-description{
    background-color: lightgray;
    resize: none;
    padding: 10px;
    width: 100%;
    margin-top: 1%;
}

/* -------- ACTIVE ORDERS --------- */
.activeOrders-Container{
    height: 50%;
    width: 100%;
}
#ticket-cont{
    justify-content: start;
    overflow-x: scroll;
}
#non-active-title{
    background-color: #0f0e0e7a;
    color: white;
    text-align: center;
    padding: 5% 10%;
    margin: 0 10%;
    width: 100%;
}
#complete-orders-btn{
    position: absolute;
    z-index: 99;
    top: 12%;
    right: 8%;
    padding: 1.5% 2%;
    border-radius: 6px;
    background: #21be8a;
    color: #fff;
    font-size: 14pt;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
#complete-orders-btn:active{ transform: translateY(1px); }
#order-view-btns{
    position: absolute;
    justify-content: flex-end;
    z-index: 99;
    bottom: 10%;
    right: 5%;
    width: 100%;
}
.ticketViews-Btn{
    width: 15%;
    padding: 1% 2%;
    margin: 0 2%;
    border-radius: 6px;
    background: mediumslateblue;
    color: #fff;
    font-size: 10pt;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.ticketViews-Btn:active{ transform: translateY(1px);}
.ticketNum{
    padding: 0 8%;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 50%;
}
.orderTickets{
    height: 80%;
    min-width: 120px;
    width: 24vh;
    margin: 2rem auto;
    padding: 1.5rem;
    margin: 0 1rem;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
    overflow-y: auto;
    transition: z-index 0.3s ease, transform 0.3s ease;
}
.orderTickets:hover{
    z-index: 99;
    transform: scale(1.05);
}
#ticket-type{
    justify-content: space-between;
}
.orderTickets h2{
    margin-top: 7.5%;
    display: inline;
    width: 70%;
    font-size: 75%;
    margin-bottom: 0.5rem;
    color: #333;
}
.orderedItems{
    white-space: pre-wrap;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.orderedItems div{
    padding: 15px 0;
    border-bottom: 1px dashed #ccc;
}
.switch {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 10%;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 75%;
  width: 45%;
  left: 8%;
  bottom: 12.5%;
  background-color: white;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  transform: translateX(80%);
}
.slider.round {
  border-radius: 10px;
}
.slider.round:before {
  border-radius: 50%;
}



@media (max-width: 768px) {
    /* ADD/EDIT */

    /* ACTIVE ORDERS */
    #non-active-title{
        width: 80%;
    }
    #order-view-btns{
        right: 0;
        justify-content: space-around;
    }
    .ticketViews-Btn{
        width: 28%;
    }
}