*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', sans-serif;
}
body{
    min-height: 100vh;
     background: url("sandwich.webp") center/cover no-repeat;
     display: flex;
     justify-content: center;
     align-items:center ;
      font-family: 'Audiowide', sans-serif;
      flex-direction: column;
}

header{
    background-color:#0e0d0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    top: 0;
    z-index: 1000;
    transition: background 0.4s ease;
    position: sticky;
    color: white;
    text-decoration: none;
}
header ul {
   display: flex;
    list-style-type: none;
    padding: 10px;
    justify-content: center;
    color: aliceblue;
    
}
header ul li a {
    display: flex;
    flex-direction: column;
    padding: 14px 16px;
    text-decoration: none;
    color: aliceblue;
    transform: 0.3s ease;
}
li :hover{
    color: rgba(0, 255, 255, 0.3) ;
    transform: scale(1.2);
}
#headerText{
    transition: 0.3s ease;
    margin-left: 20px;
}
#headerText:hover{
       color: rgba(0, 255, 255, 0.3);
    transform: scale(1.3);
}
.section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3),
                0 0 20px rgba(0, 255, 255, 0.3),
                0 0 30px rgba(0, 255, 255, 0.3);

}
button{
    width: 50%;
    align-self:center;
    transition: 0.3s ease;

}
button:hover{
    transform: scale(1.1);
}
h1,h3{
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
}
.group{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.container{
    display: flex;
    justify-content: center;
    margin: 150px;
}

input{
    margin: 10px;
    padding: 10px;
      background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
     backdrop-filter: blur(40px);
     color: white;
     border-radius: 20px;

     
}

button{
     background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
     backdrop-filter: blur(20px);
     color: aliceblue;
    
     border-radius: 20px;
     margin: 10px;
      font-family: 'Audiowide', sans-serif;
}
::placeholder{
    color: white;
     font-family: 'Audiowide', sans-serif;
}

.req{
    color: lightgreen;
    margin: 10PX;
}
.passwordRequirements{
    display: flex;
    

}
#main{
    color: aqua;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.page {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
}
footer{
    border: 2px solid rgb(233, 222, 222);
    display: flex;
    justify-content: space-between;
   flex-direction: column;
    width: 100%;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom, #1a1a2e, #16213e); 
    margin-top: auto;
   
    
}
.footertop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
}
.footersocials{
    margin-left: 50px;
    display: flex;
    gap: 100px;
}
ion-icon{
    font-size: 30px;
    transition:0.3s ease
     
    
}
ion-icon:hover {
  
  transform: scale(1.4);
   text-shadow: 0 0 15px rgba(0, 255, 255, 0.3) ; 
}  
.footnav ul{
   display: flex;
    list-style-type: none;
    padding: 10px;
    justify-content: center;
    color: aliceblue;
    
}

footer ul li a {
    display: flex;
    flex-direction: column;
    padding: 14px 16px;
    text-decoration: none;
    color: aliceblue;
    transform: 0.3s ease;
    
}
.contact{
    text-align: center;
    margin: 5px;
}
