*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
     background: url("sandwich.webp") center/cover no-repeat;
     display: flex;
     justify-content: center;
     align-items:center ;
}
.section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);

}
button{
    width: 50%;
    align-self:center;
}
h1{
    text-align: center;
    color: aliceblue;
}
.group{
    border: 5px  solid black;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.container{
    display: flex;
    justify-content: center;
}