*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
     background: url("cheesesteak.jpg.jpg") center/cover no-repeat;
     display: flex;
     justify-content: center;
     align-items:center ;
     flex-direction: column;
}
h1{
    font-size: 100px;
    color: aliceblue;
    font-family: 'Audiowide', sans-serif;
    
}
h2{
    color: aliceblue;
    font-family: 'Audiowide', sans-serif;
}

.feedBackContainer{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

input{
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: transparent;
    
}
::placeholder{
    color: aliceblue;
     font-family: 'Audiowide', sans-serif;
}
#reviewContainer{
    height: 100px;
    
}
button{
    color: aliceblue;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: transparent;
     font-family: 'Audiowide', sans-serif;
}
ion-icon:hover{
    color: rgb(185, 15, 171);
}

ion-icon{
    color: rgb(84, 5, 136);
}

